// It's highly recommended to change the default colors
// to match your app's branding.

$primary   : #146dc7;
$secondary : #8ba6a3;
$accent    : #636063;

$dark      : #1D1D1D;

$positive  : #1c9438;
$negative  : #870010;
$info      : #228194;
$warning   : #dba309;
